@model IEnumerable<AccentureAcademy.MovieApp.Models.Movie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <header class="jumbotron text-center">
        <h1>Listado de peliculas</h1>
    </header>
    <main class="container">
        <div class="text-right">
            <a class="glyphicon glyphicon-plus" href="/Movie/Agregar/" style="font-size:1.5em"></a>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>               
            </tbody>
        </table>
    </main>
    <script>
        let movies = [];
        let tableBody = document.querySelector("tbody");
       fetch('/Movie/JsonListar')
          .then(function(response) {
            return response.json();
          })
           .then(function (myJson) {               
               movies = myJson;
               console.log(movies);
               movies.map(movie => {
                   let fila = document.createElement("tr");
                   let filaHTML = `
                    <td style="padding: 1.2em">${movie.Title}</td>
                        <td style="padding: 1.2em">${movie.ReleaseDate}</td>
                        <td style="padding: 1.2em">${movie.RunningTime}</td>
                        <td class="text-right text-center">
                            <a class="glyphicon glyphicon-edit" href="/Movie/Editar/${movie.Id}" style="padding: 0.4em; font-size:1.5em; margin-right:15px"></a>
                            <a class="glyphicon glyphicon-trash" href="/Movie/Eliminar/${movie.Id}" style="padding: 0.4em; font-size:1.5em"></a>
                        </td>
                    `
                   fila.innerHTML = filaHTML;
                   tableBody.appendChild(fila);
               });
          });
    </script>
</body>
</html>
